@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/autocomplete.css';
@import './components/treedropdown.css';
@import './components/selectedautocomplete.css';
@import './components/tooltip.css';